//FONTS
$font-primary: "Raleway";
$font-secondary: "Orbitron";

// COLORS
$cyan: #6cd0bf;
$pink: #f098a2;
$lightpink: #f29ea7;
$yellow: #f5c99f;
$purple: #ce89b1;
$orange: #eb9f7f;
$grey: #707070;

// MEDIA QUERIES
$big-width: 1196px;
$largest-width: 1024px;
$large-width: 768px;
$medium-width: 627px;
$small-width: 375px;
